* {
	margin: 0;
	padding: 0;
}

body {
	font 100% Arial;
	color: #fff;
	background-color: #222;
}

.container {
	width: 1200px;

	margin: auto;
	margin-top: 10px;
	padding: 10px;
}

nav {
	width: 300px;
	height: 500px;
	
	padding: 10px;
	float: left;

	background-color: #555;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

section {
	width: 870px;
	height: 500px;
	
	margin-left: 10px;
	padding: 10px;
	float: left;
	
	color: #333;
	background-color: #fff;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

a {
	color: #fff;
	text-decoration: none;
}

ul.menu {
	text-align: center;
	list-style-type: none;
}

ul.menu li {
	width: 200px;
	height: 40px;

	line-height: 40px;
	background-color: #777;
	
	margin-top: 5px;

	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

ul.menu li:hover {
	background-color: #888;
}

.btn {
	width: 120px;
	height: 40px;

	border: 1px solid #ddd;
}

.salvar {
	color: #fff;

	cursor: pointer;

	background-image: url (../imagens/);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #46ad7a;
}

.limpar {
	color: #fff;

	cursor: pointer;

	background-image: url (../imagens/);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #425390;
}

.excluir {
	color: #fff;

	cursor: pointer;

	background-image: url (../imagens/);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #ad4656;
}

.campos {
	width: 200px;
	height: 30px;
	
	margin-bottom: 15px;

	border: 1px solid #ddd;
	border-radius: 3px;
}