* {

}

body {
	font-family: Arial;
	font-size: 100%;
	color: #fff;
}

form {
	width: 300px;
	background-color: #172367;

	text-align: center;

	margin: auto;
	margin-top: 70px;
	padding: 20px;

	border-radius: 5px;
}

.campo {
	width: 200px;
	height: 30px;

	margin-top: 5px;

	border-radius: 3px;
}

a {
	color: #fff;
}

.btn {
	width: 100px;
	height: 30px;

	border: 1px solid #ddd;
}