* {
	margin: 0;
	padding: 0;
	
	font 100% Arial;
	color: #fff;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

body {
	background-color: #222;
}

section {
	width: 80%;
	
	margin: 5% auto;
	padding: 1% 0px 1% 0px;
	
	background-color: #555;
}

a {
	color: #fff;
	text-decoration: none;
}

ul.menu {
	text-align: center;
	list-style-type: none;
}

ul.menu li {
	max-width: 90%;
  
	line-height: 40px;
	background-color: #777;
	
	margin: auto;
	margin-top: 3%;
	margin-bottom: 3%;

	cursor: pointer;
}

ul.menu li:hover {
	background-color: #888;
}