* {
  padding: 0;
  margin: 0;
  font-family: Verdana;
}

.principal {
  background-color: #ccc;
  width: 1200px;
  
  margin: auto;
  padding: 100px;
}

section {
  background-color: #fff;
  width: 1200px;
  
  margin: auto;
  padding: 500px;
  
  box-sizing: border-box;
}