* {
  margin: 0;
  padding: 0;
  
  font-family: 'Lobster', cursive;
  font-size: 100%;
  color: #000;
}

ul {
  list-style-type: none;
  
  align-content: center;
  align-content: center;
  align-self: center;
}

ul li {
  cursor: pointer;
  
  float: left;
  
  background-color: #ccc;
  
  width: 150px;
  height: 30px;
  
  text-align: center;
  line-height: 30px;
}
ul li:hover{
  background-color: #000;
}

.submenu {
  background-color: #ccc;
  width: 400px;
  
  padding: 5px;
  display: none;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

section {
  width: 100%;
  height: 70px;
  
  background-color: #fff;
  transition: 1s;
  
  margin-top: 1px;
  padding: 5px;
    
  line-height: 20px;
  text-align: justify;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

section:hover {
  background-color: #ccc;
  transition: 2s;
}

img {
  width: 60px;
  height: 60px;
  
  padding-right: 10px;
  
  float: left;
}

ul li:hover .submenu {
  display: block;
  background-color: #ccc;
}

ul li:hover .submenu {
  display: block;
  background-color: #ccc;
}