@media (max-width: 999px) {
  .navActive .navLogo {
    opacity: 0;
  }
  .navScroll.navActive{
    background-color: transparent;
  }

  .navLogo {
    width: 100%;
    height: 100%;
    padding-left: 9%;
    align-items: center;
    justify-content: center;

    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
  }

  .navSideMenu {
    display: block;
    padding-right: 3%;
    justify-content: right;
  }

  .navContainer {
    width: 0;
    height: 0;
  }

  .navScroll a {
    color: #fff;
  }

  .navList {
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    align-items: center;
    flex-direction: column;
    transform: translateX(100%);
    justify-content: space-evenly;
    transition: transform .5s ease-out;
    background-color:rgba(255, 209, 158, .95);
  }

  .navList .naviBrand {
    display: none;
  }

  .navList.navActive {
    transform: translateX(0);
  }

  .navButton {
    opacity: 0;
  }

  .navSideMenu.navActive .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .navSideMenu.navActive .line2 {
    opacity: 0;
  }

  .navSideMenu.navActive .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}