* {
  margin: 0;
  padding: 0;
  
  font-family: Arial;
  font-size: 100%;
  color: #000;
}

body {
  background-image: url(../imagens/fundo.jpg);
}

fieldset {
  width: 90%;
  
  padding: 0% 0 4% 0;
  
  margin: 3% auto 0% auto;
}

section {
  width: 70%;
  
  margin: 5% auto;
  
  background-color: rgba(246, 246, 246, .7);
  padding: 10px;
  
  text-align: center;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.campos {
  background-color: rgba(0, 0, 0, .7);
  
  margin-top: 20px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  transition: 1s;
}

input:focus:-moz-placeholder { /* Firefox 18- */
  color: transparent;  
  transition: 1s;
}

input:focus::-moz-placeholder {  /* Firefox 19+ */
  color: transparent;  
  transition: 1s;
}

input:focus:-ms-input-placeholder {  
  color: transparent;  
  transition: 1s;
}


.campos {
  width: 80%;
  
  padding: 10px;
  
  color: #000;
  font: 20px Arial;
  text-align: center;
  background-color: #dadada;
}

.radio {
  margin: 20px 0 0 0;
}

a {
  color: #777;
  text-decoration: none;
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}

.botao {
  width: 45%;
    
  margin: 3% auto;
  padding: 10px;
  
  color: #fff;
  font: 30px Arial;
  font-weight: bold;
  background-color: #0095ff;
  
  border-color: 0095ff;
}

@media screen and (max-width: 750px) {
  
  section {
    width: 100%;
    
    margin: 0 auto;
    
    transition: 1s;
  }
  
  .botao, .campos {
    margin-top: 5px;
    
    transition: 1s;
  }

.recuperar{
  padding: 0;
}
  
  form {
    margin: 0% auto;
    
    transition: 1s;
  }
  
  fieldset {
    margin: 2% 5% 2% 5%;
  }
  
}

@media screen and (max-width: 480px) {
  
  .radio {
    margin: 5 auto 0 auto;
  }
  
  .botao, .campos, label, input, p {
    font-size: 12px;
    
    transition: 1s;
  }
  
  .botao {
    margin-bottom: 10px;
  }
  
  .lembrarusuario {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    
    transition: 1s;
  }
  
  .cadastro1 {
    visibility: hidden;
    position: absolute;
    
    transition: 0s;
  }
  
  .cadastro2 {
    visibility: visible;
  }
  
}