* {
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  list-style: none;
  text-decoration:none;
  position: relative;
  border: none;
}

body {
  overflow-x: hidden;
}

  /* //////////// */
 /* ;navCircular */
/* //////////// */
.mnWButton {
  border: none;
  background: none;
  text-align: center;
  padding-bottom: 1.4em;
  height: 3.5em;
  width: 3.5em;
  position: fixed;
  left: 50%;
  margin-left: -1.75em;
  bottom: -1.75em;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s;
}

.onOverlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.onOverlay.onOverlay {
  visibility: visible;
  opacity: 1;
}

.mnWrapper {
  font-size: 1em;
  width: 26em;
  height: 26em;
  overflow: hidden;
  position: fixed;
  bottom: -13em;
  left: 50%;
  border-radius: 50%;
  margin-left: -13em;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  -moz-transform: scale(0.1);
  transform: scale(0.1);
  pointer-events: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.onMenu {
  border-radius: 50%;
  pointer-events: auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.mnWrapper li {
  position: absolute;
  font-size: 1.5em;
  width: 10em;
  height: 10em;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin-top: -1.3em;
  margin-left: -10em;
  -webkit-transition: border .3s ease;
  -moz-transition: border .3s ease;
  transition: border .3s ease;
}

.mnWrapper li a {
  display: block;
  font-size: 1.18em;
  height: 14.5em;
  width: 14.5em;
  position: absolute;
  bottom: -7.25em;
  right: -7.25em;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  padding-top: 1.8em;
  text-align: center;
  -webkit-transform: skew(-50deg) rotate(-70deg) scale(1);
  -ms-transform: skew(-50deg) rotate(-70deg) scale(1);
  -moz-transform: skew(-50deg) rotate(-70deg) scale(1);
  transform: skew(-50deg) rotate(-70deg) scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: opacity 0.3s, color 0.3s;
  -moz-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
}

.mnWrapper li a span {
  font-size: 1.1em;
  opacity: 1;
}

.mnWrapper li:first-child {
  -webkit-transform: rotate(-10deg) skew(50deg);
  -ms-transform: rotate(-10deg) skew(50deg);
  -moz-transform: rotate(-10deg) skew(50deg);
  transform: rotate(-10deg) skew(50deg);
}

.mnWrapper li:nth-child(2) {
  -webkit-transform: rotate(30deg) skew(50deg);
  -ms-transform: rotate(30deg) skew(50deg);
  -moz-transform: rotate(30deg) skew(50deg);
  transform: rotate(30deg) skew(50deg);
}

.mnWrapper li:nth-child(3) {
  -webkit-transform: rotate(70deg) skew(50deg);
  -ms-transform: rotate(70deg) skew(50deg);
  -moz-transform: rotate(70deg) skew(50deg);
  transform: rotate(70deg) skew(50deg)
}

.mnWrapper li:nth-child(4) {
  -webkit-transform: rotate(110deg) skew(50deg);
  -ms-transform: rotate(110deg) skew(50deg);
  -moz-transform: rotate(110deg) skew(50deg);
  transform: rotate(110deg) skew(50deg);
}

.mnWrapper li:nth-child(5) {
  -webkit-transform: rotate(150deg) skew(50deg);
  -ms-transform: rotate(150deg) skew(50deg);
  -moz-transform: rotate(150deg) skew(50deg);
  transform: rotate(150deg) skew(50deg);
}

  /* ///////// */
 /* ;navLinha */
/* ///////// */
.navbar-header {
  float: left;
  width: 100%;
  text-align: center;
}

#mainNav .navbar-toggler {
  float: left;
  font-size: 15px;
  padding: 10px;
  left: 0;
  border: 0;
  text-transform: uppercase;
}

#mainNav .navbar-brand {
  cursor: pointer;
  float:none;
}

#mainNav .navbar-nav .nav-item .nav-link {
  cursor: pointer;
  padding-top: 10vh;
}

@media (max-width: 992px) {
  #mainNav .navbar-nav {
    width: 100%;
    height: 92vh;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
  }
  
  .navbar-header {
    text-align: left;
  }
  
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em;
  }

  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

  /* ///////// */
 /* ;headHome */
/* ///////// */
.home {
  width: 100%;
  height: 100vh;
  
  display: table;
}

.home h1 {
  text-align: center;
  padding: 5%;
  
  display: table-cell;
  vertical-align: middle;
}

.home a {
  padding: 15px;
}
  
  /* //////////////// */
 /* ;secCompetencias */
/* //////////////// */
.competencias {
  text-align: center;
}

.crsContainer {
  min-height: 100vh;
}

.cpCaixa {
  height: 100%;
  position: absolute; 
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  margin-left: 20%;
  max-width: 60%;
}

.cpIcon {
  border-radius: 50%;
}

  /* ///////////// */
 /* ;secPortfolio */
/* ///////////// */
.portfolio {
  width: 100%;
  min-height: 100vh;
  padding: 9vh 0 0 0;
}

.pTitle {
  padding-top: 3vh;
}

.pCaption {
  margin-bottom: 50px;
}

.pItem {
  right: 0;
  margin: 0 0 15px;
}

.piLink {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

.piHover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

.piHover:hover {
  opacity: 1;
}

.pihConteudo {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
}

.pihConteudo i {
  margin-top: -12px;
}

.piLegenda {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

.piLegenda h4 {
  margin: 0;
}

.piLegenda p {
  margin: 0;
}

  /* ///// */
 /* Modal */
/* ///// */
.pModal {
  text-align: center;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 20vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
/*overflow: auto;  Enable scroll if needed */
}

.pClose {
  position: absolute;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  transition: 0.3s;
}

.pClose:hover,
.pClose:focus {
  text-decoration: none;
  cursor: pointer;
}

.pmConteudo {
  margin: auto;
  display: block;
  
  max-width: 80vw;
  max-height: 60vh;
  
  width: auto;
  height: auto;
}

#mdlCaption {
  margin: auto;
  display: block;
  margin-top: 2vh;
  max-height: 10vh;
}

.pmConteudo, #mdlCaption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

  /* /////////// */
 /* ;secContato */
/* /////////// */
.gm-control-active, .gm-fullscreen-control {
  margin: 70px 10px !important;
}

.iptInfos, .cfButton, textarea.iptInfos {
  outline: none;
  border: none;
}

.cfButton:hover {
  cursor: pointer;
}

.gMaps {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.gMaps div {
  color: black;
}

.contato {
  width: 100%;  
  min-height: 100vh;
  
  position: relative;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cCaixa {
  width: 60%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 8vh;
}

.cForm {
  width: 100%;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5% 5% 5% 5%;
}

.cfInput {
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 10px;
}

.iptInfos {
  height: 45px;

  display: block;
  width: 100%;
  padding: 0 5px;
}

textarea.iptInfos {
  min-height: 115px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.cxButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cfButton {
  min-width: 160px;
  height: 50px;
  border-radius: 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.cfButton i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.cfButton:hover {
  cursor: pointer;
}

.cfButton:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

@media screen and (max-width: 767px) {
  
  .gMaps {
    display: none;
  }

  .cCaixa {
    width: 100%;
  }

  .cForm {
    padding: 10% 10% 10% 10%;
  }
  
}

@media (max-width: 480px) {

  .gMaps {
    display: none;
  }

  .cCaixa {
    width: 100%;
  }

  .cForm {
    padding: 10% 10% 10% 10%;
  }
  
}

@media screen and (min-width: 768px) and (max-width: 981px) {
  
  .gMaps {
    display: none;
  }

  .cCaixa {
    width: 100%;
  }

  .cForm {
    padding: 10% 10% 10% 10%;
  }
  
}

  /* ///////// */
 /* ;secSobre */
/* ///////// */
.sobre {
  min-height: 100vh;
  position: relative;
  
  padding-top: 10vh;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sbCaixa {
  text-align: center;
}

.sbCaixa img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
  cursor: pointer;
}

.sbCaixa h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.sbCaixa p {
  margin-top: 0;
}

ul.sbSocial {
  margin-bottom: 0;
}

ul.sbSocial li a {
  display: table;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 100%;
  outline: none;
}

ul.sbSocial li a i {
  display: table-cell;
  vertical-align: middle;
}

  /* ///// */
 /* Modal */
/* ///// */
.sbVideo {
  text-align: center;
  background-color: rgba(0, 0, 0, .8);  
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.sbConteudo {
  max-width: 70%;
  margin-left: 15%;
}

.sbClose {
  transition: 0.3s;
}

.sbClose:hover,
.sbClose:focus {
  text-decoration: none;
  cursor: pointer;
}

.sbConteudo { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

@media only screen and (max-width: 767px){
  .pmConteudo {
    width: 100%;
  }
}

  /* ///////////// */
 /* ;fooCopyright */
/* ///////////// */
.copyright {
  text-align: center;
  padding: 5rem 0;
}
  
  /* ///////////// */
 /* ;UtilMensagem */
/* ///////////// */
.mensagem {
  width: 100%;
  height: 100vh;
  
  display: table;
}

.mensagem h1 {
  text-align: center;
  
  display: table-cell;
  vertical-align: middle;
}

.mensagem i {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0 5vh 5vh 0;
}