@media (device-width: 1024px) and (device-height: 768px) {
  h1 {
    font-size: 50px;
  }

  .navList {
    margin-left: -3%;
  }

  .navList li {
    letter-spacing: 0;
    margin-left: 16px;
    margin-right: 16px;
  }

  .naviBrand {
    width: 8vh;
    height: 8vh;
  }

  .hdrBackground {
    height: 75vh;
    overflow: visible;
  }

  .hdrTable {
    height: auto;
    color: #000;
    /*margin-top: 34%;*/
  }

  .hdrIntroduction {
    font-size: 20px;
  }

  .hdrNextSection {
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }

  .hdrNextSection:hover {
    border-top: 15px solid #191818;
  }

  #jogos{
    padding: 0 0 0 0;
    margin: -9vh 0 0 0;
  }

  .gmContent {
    margin: 0 0 3vh 0;
  }

  .gmContent h1 {
    padding: 2vh 0 0 0;
  }

  .gmSlider {
    height: 30vh;
    margin: 0 0 0 0;
  }

  .gmSliderPrev, .gmSliderNext {
    margin: 0 2%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }

  .gmSliderPrev {
    border-right: 20px solid #b52874;
  }

  .gmSliderPrev:hover {
    border-right: 20px solid #ff6500;
  }

  .gmSliderNext {
    border-left: 20px solid #ff6500;
  }

  .gmSliderNext:hover {
    border-left: 20px solid #b52874;
  }

  .gmNextGame {
    border-top: 20px solid #000;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

  .gmNextGame:hover {
    border-top: 25px solid #191818;
  }

  .gmRoleta {
    width: 95%;
    height: 65vh;
    margin: 0 0 0 2.5vw;
  }

  .gmTabuleiro {
    height: 65vh;
    margin: 0 0 -5vh 0;
  }

  #regras{
    padding: 5vh 0 5vh 0;
    margin: -1vh 0 -1vh 0;
  }

  .rgrTop {
    margin-bottom: -1vh;
  }

  .rgrBottom {
    margin-top: -1vh;
  }

  .rgrContent h1 {
    padding: 3vh 0 0 0;
  }

  .rgrInfoContainer {
    height: auto;
    padding: 0 0 5vh 0;
  }

  .rgrImage {
    width: 40%;
  }

  .rgrRegras {
    width: 40%;
  }

  .rgrInfos {
    letter-spacing: 0;
  }

  .rgrPergunta {
    font-size: 24px;
    margin-bottom: 0;
  }

  .rgrDados {
    font-size: 22px;
    margin: 0 5% 3% 8%;
  }

  #chefs {
    padding: 7vh 0 7vh 0;
    margin: -10vh 0 -7vh 0;
  }

  #chefs h1{
    margin: 12vh 0 -10vh 0;
  }

  .cfCaixa {
    height: 45%;
  }

  .cfNome, .cfCargo {
    font-size: 18px;
  }

  #promocao {
    padding: 10vh 0 0 0;
    margin: -10vh 0 0 0;
  }

  .prmTop {
    height: 7vh;
    margin-bottom: -.2vh;
  }

  .prmBottom {
    height: 7vh;
    margin-top: -.2vh;
  }

  .prmContent h1 {
    padding: 3vh 0 0 0;
  }

  .prmInfoContainer {
    height: auto;
    padding-bottom: 4%;
  }

  .prmForm {
    font-size: 18px;
  }

  .prmDados {
    font-size: 18px;
  }

  #contato {
    margin: 20vh 0 0 0;
  }
  .cttForm {
    height: 53vh;
  }

  .cttEntradaDados {
    font-size: 18px;
  }

  .cttDados .fa {
    font-size: 18px;
  }

  footer {
    height: 30vh;
  }

  .ftLogo {
    margin-top: 9.7vh;
    margin-left: 20vw;
  }

  .fttContainer {
    margin-bottom: 4vh;
    margin-right: 2vw;
  }
}