/* .home h1, */
 .competencias, .portfolio, .sobre, .cCaixa, .contato {
  background-color: #262626;
  color: #fff;
}
  
  /* /////// */
 /* z-index */
/* /////// */
.sbVideo {
  z-index: 1030;
}

.mnWButton {
  z-index: 101;
}

.mnWrapper {
  z-index: 100;
}

.pModal {
  z-index: 99;
}

.onOverlay {
  z-index: 2;
}

.piHover {
  z-index: 1;
}

.contato {
  z-index: 1;
}

.gMaps {
  z-index: -2;
}